.index-root > div {
  padding: 40px 0;
}

.index-header-content > h1 > span {
  font-size: 14px;
  border-bottom: solid 1px;
}

.IndexHeader {
  background: #39d352;
  background: -moz-linear-gradient(top, #39d352 0%, #55d168 100%);
  background: -webkit-linear-gradient(top, #39d352 0%,#55d168 100%);
  background: linear-gradient(to bottom, #39d352 0%,#55d168 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39d352', endColorstr='#55d168',GradientType=0 );
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

.IndexProjects {
  background: #07c9f9;
  background: -moz-linear-gradient(top, #07c9f9 0%, #6fdef7 100%);
  background: -webkit-linear-gradient(top, #07c9f9 0%,#6fdef7 100%);
  background: linear-gradient(to bottom, #07c9f9 0%,#6fdef7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07c9f9', endColorstr='#6fdef7',GradientType=0 );
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.index-me {
  border-radius: 50%;
  max-width: 150px;
  border: solid 1px white;
  margin: 0px auto;
  box-shadow: #000000b3 0px 2px 10px;
}

.index-header-content > p {
  font-size: 28px;
}

.index-header-content > p > span:hover {
  cursor: pointer;
}

.works-tags {
  margin-top: 10px;
}

.works-tags > span {
  font-size: 12px;
  display: inline-block;
  border-radius: 3px;
  padding: 0 5px;
  margin: 5px;
  background-color: #d0d0d0;
  margin-left: 0;
}

.works-tags > span:hover {
  cursor: default;
}

.project-col {
  margin-bottom: 10px;
}

.error-box {
  display: inline-block;
  background-color: #292929;
  padding: 10px;
  margin: 10px 0;
  color: white;
  border-radius: 10px;
}